<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<body>
  <div class="post">
    <div class="post-left">
      <div class="post-left_title">Lorem ipsum:</div>
      <div class="post-left_title_sub">Dolor sit amet</div>
      <div class="post-left_border"></div>
      <div class="post-left_author">
<img src="https://img4.hostingpics.net/pics/195495circleprofil.png"</a>
        <p>Jeremy Medina</p>
        </div>
    </div>
    <div class="post-right">
      <div class="post-right_body">
      <p><span>L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu augue at eros finibus aliquet lobortis et nisi. Integer nec ipsum feugiat, varius velit et, porta eros. Vestibulum bibendum diam nec urna dignissim sodales. Aliquam at maximus ligula.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu augue at eros finibus aliquet lobortis et nisi. Integer nec ipsum feugiat, varius velit et, porta eros. Vestibulum bibendum diam nec urna dignissim sodales.</p>
      </div>
      <div class="post-right_footer">
        <div class="post-right_footer_date">
          <p>Sat 06 aug 2016 - <span>22h14<span></p>
        </div>
          <div class="post-right_footer_pictos">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
      </div>
    </div>
  </div>
</body>