<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
<body>
  <div class="post">
    <div class="post-left">
      <div class="post-left_title">Mepa Yohann:</div>
      <div class="post-left_title_sub"><p>&lt;Python Dev&gt;</p></div>
      <div class="post-left_border"></div>
    </div>
    <div class="post-right">
      <div class="post-right_body">
      <p><span>L</span>/2005 - 2011/ I've did mostly animation, / 2011 - 2015/ Cambida Lecturer at university, Project Manager on Unity Mobile Game
      and co-CEO of Light UP sutdio an augmented reallity company mostly doning Event.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu augue at eros finibus aliquet lobortis et nisi. Integer nec ipsum feugiat, varius velit et, porta eros. Vestibulum bibendum diam nec urna dignissim sodales.</p>
      </div>
      <div class="post-right_footer">
        <div class="post-right_footer_date">
          {{ date[2] }} {{ date[3] }} {{ date[4] }} {{ date[1] }} {{ date[0] }}
        </div>
          <div class="post-right_footer_pictos">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
      </div>

    </div>

  </div>
  <blockquote contenteditable="true"><q>I think it could work Marylin.</q>
    <cite>Ms. John Soda</cite>
  </blockquote>
</body>