
a:link {
  color: #edc514;
}
a:visited {
  color: #edc514;
}
a:hover {
  color: #a1710a;
}
a:active {
  color: #edc514;
}
h1
{
    font-size: 2em;
    color: #eda814;
    font-family: Leitura,Georgia,Cambria,"Times New Roman",Times,serif;
}

#different
{
    color: #edc514;  
}
