
a:link {
  color: #38ed14;
}
a:visited {
  color: #36da16;
}
a:hover {
  color: #20800d;
}
a:active {
  color: #36da16;
}
h1
{
    font-size: 2em;
    color: #38ed14;
    font-family: Leitura,Georgia,Cambria,"Times New Roman",Times,serif;
}

#different
{
    color: #38ed14;  
}
