<!DOCTYPE html>
<html>

<head>
    <title>Yohann Mepa</title>
    <style>
        @font-face{
            font-family: Leitura;
            src: url('{{ url_for('static',filename='datas/Leitura_News_Italic_4.otf') }}');
            font-weight: bold;
        }
    </style>
    <link rel="icon" href="{{url_for('static', filename='crown.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='datas/main.css') }}">>
</head>

<body>
    <div id="ctnr">		
        <canvas id='background'>
            <script> 
                let cssColor = "{{css[4]}}"
                let randomName = "{{rand}}"
                let tex = "{{ url_for('static', filename='datas/text_low.jpg') }}"
                let crown = "{{ url_for('static', filename='datas/crown.glb') }}"
                let wings = "{{ url_for('static', filename='datas/wings.glb') }}"
                let peko = "{{ url_for('static', filename='datas/peko.glb') }}"
            </script>
        </canvas>
        <div class='blackBG'>
            <div id='top'>
                <h1 id="title">Hello,  <span id="different">{{rand}}</span></h1>
            </div>
        </div>      
        <div class='blackBG'>
            <div id='about'>
                <h2 >My name is <span id="different">Yohann Mepa</span>,</h2> 
                <h3 >I use to do some 2d/3d animation.</h3>
                <h2 >Now recycled in <span id="different">Python Development,</span></h2>
                {% if months %}
                    <h3 >for<span id="different">{{years}}</span> years and <span id="different">{{months}}</span> months.</h3>
                {% else %}
                    <h3 >for <span id="different">{{years}}</span> years.</h3>
                {% endif %}
                <h2 >I used to some do AR/VR, Lecturer at University,</h2>
                <h3 >Unity/Unreal, Htc Vive, Hololens stuff, Also, I won <span id="different">Suzzane Award</span> and special Selection to the <span id="different">Annecy Festival</span>.</h3>
                <h2 >Now doing mostly <span id="different">Python/Flask, Js/Threejs, C#/Unity</span>.</h2>
                <h3 > And I used to work for<span id="different">Augment</span>, <span id="different">Addsome</span>, <span id="different">Fixstudio</span>, processing datas with python moslty.</h3>
                <h2 id='contact'>  ==><a href="mailto:yoyo.mepa@gmail.com?Subject=Hello from the website" target="_top"> contact me </a> <== </h2>
            </div>
        </div>
    <script type="text/javascript" src='{{ url_for('static',filename='js/three.min.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static',filename='js/tween.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static',filename='js/loader/GLTFLoader.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static',filename='js/loader/FBXLoader.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/EffectComposer.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/RenderPass.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/ShaderPass.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/GlitchPass.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/RGBShiftShader.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/DotScreenShader.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/CopyShader.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static',filename='js/postprocessing/DigitalGlitch.js') }}'></script>

    <script type="text/javascript" src="{{ url_for('static', filename='sceneDefinition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mesh.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>