<!DOCTYPE html>
<html>

<head>
    <title>Yohann Mepa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>

<body>
    <div id="ctnr">
        <script type="text/javascript">
        </script>
        <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js'></script>
        <div id='three'>

            <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
            <script> 

var loader = new THREE.ObjectLoader();

// var texture = new THREE.TextureLoader().load( '{{ url_for('static', filename='model_texture.jpg') }}' );

// immediately use the texture for material creation
var material = new THREE.MeshBasicMaterial( { map: THREE.ImageUtils.loadTexture("{{ url_for('static', filename='model_texture.jpg') }}") } );

loader.load(
	// resource URL
	"{{ url_for('static', filename='scene.json') }}",

	// onLoad callback
	// Here the loaded data is assumed to be an object
	function ( obj ) {
		// Add the loaded object to the scene
		scene.add( obj );
        obj.scale.set(10,10,10);
        obj.traverse( function ( child ) {

if ( child instanceof THREE.Mesh ) {

    child.material = material;

}

} );
	},

	// onProgress callback
	function ( xhr ) {
		console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
	},

	// onError callback
	function ( err ) {
		console.error( 'An error happened' );
	}
);

            </script>
        </div>
        <div class='top'>
            <div id="title">
                {% if name %}
                <h1>Hello
                    <span id="white">,</span> {{ name }}
                    <span id="white">.</span>
                </h1>
                {% else %}
                <h1>Hello
                    <span id="white">,</span> {{rand}}
                    <span id="white">.</span>
                </h1>
                {% endif %} {{about}}
            </div>
        </div>
    </div>
</body>

</html>