<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mepa Yohann's personal website">
    <meta name="keywords" content="Yohann mepa,yohann,mepa,Python developer,threejs">
    <meta name="author" content="Yohann Mepa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#60;&#9829;PekoChan&#9829;&#47;&#62;</title>
    <style>
        @font-face{
            font-family: Leitura;
            src: url('/static/datas/Leitura_News_Italic_4.otf');
            font-weight: bold;
        }
    </style>
    <link rel="icon" href="/static/crown.png">
    <link rel="stylesheet" type="text/css" href="/static{{ cssBundle }}">
    <link rel="stylesheet" type="text/css" href="/static/css/{{css[0]}}">
</head>

<body>
    {% include "spinner.html" %}
    <div id="container">		
        <canvas id="bg-3d">
            <script> 
                let cssColor    = "{{ css[1] }}"
                let randomName  = "{{ rand }}"
                let tex         = "/static/datas/text_low.jpg"
                let crown       = "/static/datas/crown.glb"
                let wings       = "/static/datas/wings.glb"
                let peko        = "/static/datas/peko.glb"
                let ring        = "/static/datas/ring.glb"
            </script>
        </canvas>
        <div id='top' class='blackBG'>
            <h1 id="title" >Hello, <span id="different">{{ rand }}</span></h1>
        </div>
        <div id='about' class='blackBG'>
            <h2 id='myName'>My name is <span id="different">Yohann Mepa</span>,</h2> 
            <h3 id='iUse'>I used to do some 2d/3d animation.</h3>
            <h2 id='now'>Now recycled in <span id="different">Python Development</span>,</h2>
            {% if months %}
                <h3 id='for'>for<span id="different">{{years}}</span> years and <span id="different">{{months}}</span> months.</h3>
            {% else %}
                <h3 id='for'>for <span id="different">{{years}}</span> years.</h3>
            {% endif %}
            <h2 id='iUse2'>I used to do some AR/VR, Lecturer at University, etc ...</h2>
            <h3 id='unity'>Unity/Unreal, Htc Vive, Hololens stuff, Also, I won <span id="different">Suzzane Award</span> and special Selection to the <span id="different">Annecy Festival</span>.</h3>
            <h2 id='now2'>Now doing mostly <span id="different">Python</span>/{<span id="different">Flask</span>, <span id="different">Starlette</span>}, <span id="different">Js</span>/<span id="different"></span>Threejs</span>, <span id="different">C#/Unity</span>. Plus some <span id="different">Docker</span>/<span id="different">Nginx</span>.</h2>
            <h3 id='and'> And I used to work for<span id="different">Augment</span>, <span id="different">Addsome</span>, <span id="different">Fixstudio</span>, processing datas with python moslty.</h3>
            <h2 id='contact'>  ==><a href="mailto:yoyo.mepa@gmail.com?Subject=Hello from the website" target="_top"> contact me </a> <== </h2>
        </div>
        <div id="scritps">
            <script type="text/javascript" src="/static{{ jsonBundle }}"></script>
        </div>
    </div>
</body>
</html>